body{
    margin:0px;
    padding:0px;    
}

.jumbotron-fluid{
    width: 80%;
    height: 1500px;
    margin:auto;
}

#head{
    background-color: white;
    width: 80%;
    height: 200px;
    margin: auto;
    border-radius: 15px;
}
#head:after{
    content:"";
    clear: both;
}

img{
    margin-left: 15%;
    margin-top: 20px;
    float: left;   
}

.h2{
  
    margin-left: 350px;
    
}
.text-info{
    margin-left: 350px;
}

.d-inline{
    margin-left:20px;
}

.fa{
    border-radius: 50%;
    width: 3%;
    height: 30px;
    text-align: center;
    
}

.fa:hover{
    background-color: antiquewhite;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  #email{
      float:right;
      margin-right: 20px;
  }

#info1{
    margin-top: 60px;
    margin-left:150px;
    background-color: white;
    width: 60%;
    height: 200px;
    border-radius: 15px;
 
}

#hh{
    margin-left: 100px;
    text-align: left;
    margin-top: 10px;
    text-decoration: underline;
}

.text-info{
    text-align: left;
    margin-right: 200px;
}

#education1{

   margin-top: 100px;
   background-color: white;
   width: 100%;
   height: 300px;
   border-radius: 15px;
}

#gg{
    text-decoration: underline;
    margin-left: 80px;
    
}
/* 
.list-unstyled{
    margin-left: auto;
} */
.text-monospace{
    margin-left: 10px;
    margin-top: 10px;
}

#experience1{

    margin-top: 100px;
    background-color: white;
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

#rr{
    list-style-type: disc;
}

#clockify{
    /* margin-left: 150px; */
    float: right;
    background-color: black;
    margin-top: 40px;
    width: 20%;
    margin-right:100px;
    border-radius: 15px;
    height: 60px;
    padding: 10px;
   
}

.text-primary{
    margin-top: 50px;
    background-color: white;
    width: 100%;
    height: 400px;
    padding: 20px;
    text-align: left;
    text-decoration: underline;
    border-radius: 15px;
}